body{
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frame{
    position:relative;
    background-image: url('../img/background.png');
    background-attachment: fixed;

    width:400px;
    height:750px;

    overflow: hidden;
}

.absolute{
    position : absolute;
}

.flip{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}